{
  "presets": ["env"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-regenerator",
    "transform-class-properties",
    ["babel-plugin-transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }],
    ["transform-react-jsx", { "pragma":"h" }]
  ]
}