table {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  table-layout: fixed;

  thead {
    border-bottom: 1px solid rgb(224, 224, 224);
  }

  tbody {
    tr:not(.nested) {
      // transition: background 200ms ease-in-out;
      
      // &:nth-child(2n+1) {
      //   background: #fbfbfb;
      // }

      &:hover {
        // background: #f5f5f5;
        cursor: pointer;
      }
    }
  }

  tr {
    // border-bottom: 1px solid rgb(224, 224, 224);
    color: rgba(0, 0, 0, 0.87);
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    td, th {
      padding-left: 24px;
      padding-right: 24px;
      height: 48px;
      text-align: left;
      font-size: 13px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      background-color: inherit;
      cursor: inherit;
      display: flex;
      align-items: center;
      box-sizing: border-box;
    }
  }
}

tr.nested {
  height: auto;
  padding-left: 16px;

  table {    
    border: 1px solid #e3e3e3;
  }
}

.scrollable-table {
  height: 310px;
  overflow-x: hidden;
  overflow-y: scroll;

  tr td:first-child {
    padding-left: 34px;
  }
}

.table-container {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  grid-area: content;
}